.mr20 {
  margin-right: 15px;
}
.cfff {
  color: #fff;
}
.pos_r {
  position: relative;
}
.contMap {
  position: relative;
}
.visualMap_2 {
  position: absolute;
  left: 50%;
  bottom: 70px;
  line-height: 20px;
  width: 340px;
  margin-left: -170px;
}
.visualMap_2 p {
  font-size: 14px;
  color: #97d7ff;
}
.visualMap_2 dl {
  overflow: hidden;
  width: 360px;
  margin-top: 6px;
}
.visualMap_2 dl dt {
  float: left;
  color: #97d7ff;
  width: 40px;
  text-align: center;
}
.visualMap_2 dl dd {
  float: left;
  background: linear-gradient(to right, #00edff 0%, #003a78 100%);
  width: 280px;
  height: 18px;
}
.visualMap_2 li {
  display: inline-block;
  color: #fff;
  margin-right: 15px;
}
.visualMap_2 li i {
  width: 14px;
  height: 6px;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
}
.visualMap_2 li i.bg1 {
  background: #00edff;
  border: 1px solid #00edff;
}
.visualMap_2 li i.bg2 {
  background: #00c9ff;
  border: 1px solid #00c9ff;
}
.visualMap_2 li i.bg3 {
  background: #009bff;
  border: 1px solid #009bff;
}
.visualMap_2 li i.bg4 {
  background: #0072eb;
  border: 1px solid #0072eb;
}
.visualMap_2 li i.bg5 {
  background: #003a78;
  border: 1px solid #0091aa;
}
.visualMap_3 {
  position: absolute;
  left: 50%;
  bottom: 0;
  line-height: 40px;
  width: 450px;
  margin-left: -200px;
}
.visualMap_3 p {
  line-height: 20px;
  font-size: 14px;
  color: #97d7ff;
}
.visualMap_3 li {
  display: inline-block;
  color: #fff;
  margin-right: 20px;
  padding-left: 40px;
}
.visualMap_3 li.bg1 {
  background: url(../images/icon_3.png) no-repeat left center;
  background-size: 40px;
}
.visualMap_3 li.bg2 {
  background: url(../images/icon_1.png) no-repeat left center;
  background-size: 40px;
}
.visualMap_3 li.bg3 {
  background: url(../images/icon_2.png) no-repeat left center;
  background-size: 40px;
}
.visualMap_3 li.bg4 {
  background: url(../images/icon_4.png) no-repeat left center;
  background-size: 40px;
}
.visualMap_3 li.bg5 {
  background: url(../images/icon_5.png) no-repeat left center;
  background-size: 40px;
}
.contTit1 {
  position: absolute;
  top: 60px;
  left: 0px;
  color: #97d7ff;
  font-size: 16px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.inSel1 {
  position: absolute;
  top: 15px;
  right: 10px;
  text-align: center;
  color: #39abff;
}
.inSel2 {
  position: absolute;
  top: 100px;
  right: 10px;
  text-align: center;
  width: 100%;
}
.introductionText {
  position: absolute;
  top: 15px;
  left: 5px;
  color: #39abff;
  font-size: 12px;
}
.introductionText .orange {
  color: #ffc000;
}
.introductionText .orange strong {
  font-size: 22px;
}
.sadmodule1 {
  position: absolute;
  top: 173px;
  left: 10px;
  z-index: 1;
}
.sadmodule1 .sadmodule1Cont {
  height: 170px;
  width: 100%;
}
.sadmodule1Bq {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 1;
}
.sadmodule1Bq li {
  font-size: 12px;
  color: #37a5f7;
  margin: 5px 0;
  cursor: pointer;
}
.sadmodule1Bq li i {
  display: inline-block;
  width: 9px;
  height: 8px;
  margin-right: 5px;
  border: 1px solid #0b5b97;
  vertical-align: middle;
  background: none;
}
.sadmodule1Bq li.active i {
  border: 1px solid #3db945;
  background: #13d034;
  background: rgba(19, 208, 52, 0.5);
}
.sadmodule2 {
  position: absolute;
  top: 480px;
  left: 10px;
  z-index: 1;
  background: #011d46;
  width: 25%;
}
.sadmodule2 .sadmodule2Cont {
  height: 146px;
  width: 96%;
  padding: 5px 2%;
  overflow-x: hidden;
  overflow-y: auto;
}
.sadmodule2 .sadmodule2Cont .sadmodule2ContTb {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #014662;
}
.sadmodule2 .sadmodule2Cont .sadmodule2ContTb th {
  height: 24px;
  border-top: 1px solid #014662;
  border-left: 1px solid #014662;
  background: #02274e;
  background: rgba(53, 148, 231, 0.05);
  color: #ffc000;
}
.sadmodule2 .sadmodule2Cont .sadmodule2ContTb th:first-child {
  border-left: none;
}
.sadmodule2 .sadmodule2Cont .sadmodule2ContTb td {
  height: 24px;
  border-top: 1px solid #014662;
  border-left: 1px solid #014662;
  color: #fff;
}
.sadmodule2 .sadmodule2Cont .sadmodule2ContTb td:first-child {
  border-left: none;
}
.sadmodule3 {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
}
.sadmodule3 .sadmodule3Cont {
  height: 152px;
  width: 100%;
}
.sadmodule4 {
  position: absolute;
  top: 265px;
  right: 10px;
  z-index: 1;
}
.sadmodule4 .sadmodule4Cont {
  height: 152px;
  width: 100%;
}
.sadmodule5 {
  position: absolute;
  top: 482px;
  right: 10px;
  z-index: 1;
}
.sadmodule5 .sadmodule5Cont {
  height: 152px;
  width: 100%;
}
.qlmodule1 {
  position: absolute;
  top: 204px;
  left: 10px;
  z-index: 1;
}
.qlmodule1 .qlmodule1Cont {
  height: 170px;
  width: 100%;
}
.qlmodule2 {
  position: absolute;
  top: 445px;
  left: 10px;
  z-index: 1;
}
.qlmodule2 .qlmodule2Cont {
  height: 135px;
  width: 100%;
}
.qlmodule3 {
  position: absolute;
  top: 127px;
  right: 10px;
  z-index: 1;
}
.qlmodule3 .qlmodule3Cont {
  height: 115px;
  width: 100%;
}
.qlmodule4 {
  position: absolute;
  top: 295px;
  right: 10px;
  z-index: 1;
}
.qlmodule4 .qlmodule4Cont {
  height: 115px;
  width: 100%;
}
.qlmodule5 {
  position: absolute;
  top: 458px;
  right: 10px;
  z-index: 1;
}
.qlmodule5 .qlmodule5Cont {
  height: 170px;
  width: 100%;
}
.inSel.text-left {
  text-align: left;
}
.inSel.text-left .simSel {
  text-align: center;
}
.mlmodule1 {
  position: absolute;
  top: 177px;
  left: 10px;
  z-index: 1;
}
.mlmodule1 .mlmodule1Cont {
  height: 155px;
  width: 100%;
}
.mlmodule2 {
  position: absolute;
  top: 452px;
  left: 10px;
  z-index: 1;
}
.mlmodule2 .mlmodule2Cont {
  height: 182px;
  width: 100%;
}
.mlmodule3 {
  position: absolute;
  top: 71px;
  right: 10px;
  z-index: 1;
}
.mlmodule3 .mlmodule3Cont {
  height: 155px;
  width: 96%;
  padding: 5px 2%;
  overflow-x: hidden;
  overflow-y: auto;
}
.mlmodule3 .mlmodule3Cont table {
  width: 100%;
  font-size: 12px;
  border-top: 1px solid #014763;
  text-align: center;
}
.mlmodule3 .mlmodule3Cont table th {
  height: 24px;
  font-weight: normal;
  border-bottom: 1px solid #014763;
  background: url("../images/mlmodule3Cont.png") no-repeat;
  padding-left: 24px;
}
.mlmodule3 .mlmodule3Cont table th.leidian {
  color: #f5f603;
  background-position: 5px 7px;
}
.mlmodule3 .mlmodule3Cont table th.baoyu {
  color: #f5f603;
  background-position: 5px -23px;
}
.mlmodule3 .mlmodule3Cont table th.bingbao {
  color: #ff940a;
  background-position: 5px -56px;
}
.mlmodule3 .mlmodule3Cont table th.dafeng {
  color: #01aeff;
  background-position: 5px -86px;
}
.mlmodule3 .mlmodule3Cont table th.gaowen {
  color: #ff940a;
  background-position: 5px -116px;
}
.mlmodule3 .mlmodule3Cont table th.taifeng {
  color: #01aeff;
  background-position: 5px -146px;
}
.mlmodule3 .mlmodule3Cont table td {
  color: #fff;
  height: 24px;
  border-bottom: 1px solid #014763;
  border-left: 1px solid #014763;
}
.mlmodule3 .mlmodule3Cont table td.fabu span {
  color: #e43620;
}
.mlmodule3 .mlmodule3Cont table td.jiechu span {
  color: #6aed2a;
}
.mlmodule3 .mlmodule3Cont dl {
  overflow: hidden;
  border-top: 1px solid #014763;
  color: #fff;
  font-size: 12px;
}
.mlmodule3 .mlmodule3Cont dl dt {
  float: left;
  width: 35%;
  border-right: 1px solid #014763;
  line-height: 23px;
  height: 23px;
  overflow: hidden;
  padding: 0 1%;
}
.mlmodule3 .mlmodule3Cont dl dt i {
  margin-right: 5px;
  font-size: 12px;
}
.mlmodule3 .mlmodule3Cont dl dd {
  float: left;
  width: 60%;
  line-height: 23px;
  height: 23px;
  overflow: hidden;
  padding: 0 1%;
}
.mlmodule3 .mlmodule3Cont dl.active dt i {
  color: #e9bc0d;
}
.mlmodule3 .mlmodule3Cont dl.active dd {
  color: #e9bc0d;
}
.mlmodule3 .mlmodule3Cont dl.active1 dt i {
  color: #39abff;
}
.mlmodule3 .mlmodule3Cont dl.active1 dd {
  color: #39abff;
}
.mlmodule4 {
  position: absolute;
  top: 280px;
  right: 10px;
  z-index: 1;
}
.mlmodule4 .mlmodule4Cont {
  height: 164px;
  width: 100%;
}
.mlmodule5 {
  position: absolute;
  top: 495px;
  right: 10px;
  z-index: 1;
  width: 30%;
}
.mlmodule5 .mlmodule5Cont {
  height: 158px;
  width: 96%;
  padding: 5px 2%;
  overflow-x: hidden;
  overflow-y: auto;
}
.mlmodule5 .mlmodule5Cont .mlmodule5ContTb {
  border-top: 1px solid #014763;
  color: #fff;
  font-size: 12px;
}
.mlmodule5 .mlmodule5Cont .mlmodule5ContTb td {
  line-height: 18px;
  padding: 3px;
  border-right: 1px solid #014763;
  border-bottom: 1px solid #014763;
  white-space: nowrap;
}
.mlmodule5 .mlmodule5Cont .mlmodule5ContTb td:last-child {
  border-right: none;
  white-space: normal;
}
.quoteChangeBox {
  position: relative;
  padding-right: 15px;
  display: inline-block;
}
.quoteChangeT {
  border-bottom: 6px solid #eb370a;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 2px;
  top: 5px;
}
.quoteChangeB {
  border-top: 6px solid #61db58;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 2px;
  top: 5px;
}
.visualMap.visualMap130 {
  top: 130px;
}
.prmodule1 {
  position: absolute;
  top: 270px;
  left: 10px;
  z-index: 1;
}
.prmodule1 .prmodule1Cont {
  height: 152px;
  width: 100%;
}
.prmodule2 {
  position: absolute;
  top: 480px;
  left: 10px;
  z-index: 1;
}
.prmodule2 .prmodule2Cont {
  height: 152px;
  width: 100%;
}
.prmodule3 {
  position: absolute;
  top: 51px;
  right: 10px;
  z-index: 1;
}
.prmodule3 .prmodule3Cont {
  height: 152px;
  width: 100%;
}
.prmodule4 {
  position: absolute;
  top: 270px;
  right: 10px;
  z-index: 1;
}
.prmodule4 .prmodule4Cont {
  height: 152px;
  width: 100%;
}
.prmodule5 {
  position: absolute;
  top: 487px;
  right: 10px;
  z-index: 1;
}
.prmodule5 .prmodule5Bg {
  position: absolute;
  left: 33px;
  top: 60px;
  bottom: 30px;
  right: 10px;
  background-image: url("../images/prmodule5Cont1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.prmodule5 .prmodule5Cont {
  height: 152px;
  width: 100%;
}
.moduleTitMore2 {
  position: absolute;
  height: 20px;
  line-height: 20px;
  right: 5px;
  top: 7px;
  overflow: hidden;
}
.moduleTitMore2 li {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: .5;
}
.moduleTitMore2 li:first-child {
  background: #ff511c;
}
.moduleTitMore2 li:last-child {
  background: #54fc33;
}
.moduleTitMore2 li.active {
  opacity: 1;
}
#map_popOver p.zhang .prpbiaoqian1 {
  color: #e25736;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
#map_popOver p.zhang .prpbiaoqian2 i {
  border-bottom: 6px solid #e25736;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  display: inline-block;
  margin-left: 5px;
}
#map_popOver p.die .prpbiaoqian1 {
  color: #61db58;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
#map_popOver p.die .prpbiaoqian2 i {
  border-top: 6px solid #61db58;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  display: inline-block;
  margin-left: 5px;
}
.inzdyj {
  position: absolute;
  top: 5px;
  right: 5px;
}
.inzdyj li {
  float: left;
  margin-left: 10px;
  color: #fff;
  line-height: normal;
}
.inzdyj li i {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.inzdyj li:first-child i {
  background: #ff511c;
}
.inzdyj li:last-child i {
  background: #54fc33;
}
