/*checkbox-复选框样式*/
.chk_1{
    display: none;
}
.chk_1 + label {
    background-color: #022a82;
    border: 1px solid #015b7f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 0px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    line-height:11px;
    vertical-align: middle;
}
.chk_1 + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
/*.chk_1:checked + label {*/
    /*background-color: #022a82;*/
    /*border: 1px solid #015b7f;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);*/
    /*color: #243441;*/
/*}*/
/*.chk_1:checked + label:after {*/
    /*content: '\2714';*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 1px;*/
    /*color: #fff;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*font-size: 1em;*/
    /*padding: 1px 0 0 0;*/
    /*vertical-align: top;*/
/*}*/
.simSelLayer{
    position: absolute;
    left: -1px;
    top: 25px;
    height: 220px;
    background: #0a3264;
    background: rgba(10, 50, 100, 0.8);
    padding: 5px 0;
    border-radius: 5px;
    z-index: 10;
    border: 1px solid #015b7f;
    display: none;
}
.active .simSelLayer{
    display: block;
}
.simLevelSel{
    width: 160%;
}
.simAllSel{
    width: 200%;
}
.simSelChecked:hover{
    border-radius: 13px 13px 0 0;
}
.simSelChecked:hover .simSelLayer{
    /*display: block;*/
    border-radius:0;
}
.simSelChecked:hover .weather{
    display: block;
    border-radius:0;
}
.simSelLayer .selFooter{
    padding: 4px 10px 4px 10px;
    text-align: left;
}
.selFooter .allSelect{
    float: right;
}
.selFooter .allSelect label{
    margin-right: 10px;
}
.simSelLayer .selHeader{
    width: 100%;
    background-color: rgba(0,120,245,0.6);
    position: absolute;
}
.simSelLayer .button{
    float: right;
    border-radius: 13px;
    background-color: rgba(14,120,233,0.8);
    border: none;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    margin: 4px 10px;
    color: #fff;
    display: inline-block;
}
.simSelLayer .button:hover{
    background-color: rgba(14,120,233,1);
    cursor: pointer;
}
.selList{
    height: 160px;
    text-align: left;
    overflow: hidden;
}
.selList li{
    padding: 3px 10px;
}
.selList li label{
    margin-right: 10px;
}
.selList li:hover{
    background-color: rgba(0,132,204,0.8);
    color: #022a81;
}
.selList li.active{
    color: #fff;
}
.selList li.active label,.selFooter .chk_1:checked + label {
    background-color: #022a82;
    border: 1px solid #015b7f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #243441;
}
.selList li.active label:after,.selFooter .chk_1:checked + label:after  {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 1px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 1px 0 0 0;
    vertical-align: top;
}
/* 天气预报 */
.whLayer{
    padding: 0 12px 0 12px !important;
}
.weather{
    position: absolute;
    right: -1px;
    width: 600px;
    height: 220px;
    border: 1px solid #009aff;
    box-shadow: 0 0 15px #009aff;
    background: rgba(1, 29, 70, 0.6);
    z-index: 99999999;
    display: none;
}
.weather .footer{
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding:0 10px;
    background-color: rgba(1,72,159,0.9);
    background: -webkit-linear-gradient(left,rgba(1,72,159,0.9),rgba(1,72,159,0.1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,rgba(1,72,159,0.9),rgba(1,72,159,0.1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,rgba(1,72,159,0.9),rgba(1,72,159,0.1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(right,rgba(1,72,159,0.9),rgba(1,72,159,0.1)); /* 标准的语法 */
}
.weather .weather_main{
    width: 580px;
    height: 170px;
    margin-left: 5px;
    margin-top: 5px;
}
.weather_main ul{
    height: 100%;
    display: block !important;
}
.weather_main ul li{
    float: left;
    width: 14.2857%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    border-right: solid 1px rgba(1,72,159,0.8);
}
.weather_main ul li:last-child{
    border:none;
}
.weather_icon{
    position: relative;
    height: 60px;
}
.weather_icon i.iconfont{
    position: relative;
    display: block;
    left: 0;
    right: 0;
    border:none !important;
}
.weather_main .info{
    display: block;
    line-height: 20px !important;
    height: 40px;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-text-overflow:ellipsis;
}
.temperature span:first-child{
    color: #ff7632;
}
.temperature span:last-child{
    color: #00deff;
}
.y_close{
    border: none !important;
    top: 0px !important;
    color: rgba(128,187,255,0.9);
}











